doctype html
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title サイトのタイトル
<body>

- const name = "クリエイターズファクトリー";

section.section
  h1.title こんにちは、!{name}さん

section.about
  h2.section-title ABOUT
  p 参考テキスト参考テキスト参考テキスト
    br
    | 改行テキスト改行テキスト改行テキスト改行テキスト

  .button
    a(href="#") !{name}へ

  ul
    li
      a(href="#") リスト
    li リスト

</body>
