@use '../base'as base;
@use '../global'as global;
@use '../function'as func;
@use '../setting'as set;

.button {
  font-size: func.rem(16px);
  background: #000;
}

.header {
  width: func.vw(30px);
}
